<div ng-controller="MetacriticCtrl" class="metacritic">
	<div class="preloader" ng-show="loading"></div>

    <div ng-hide="loading">
		<h1>Coming soon movies <small>({{data.length}})</small></h1>
		<label>
			Search: <input ng-model="search.name" placeholder="Enter a search query..."> 
			<span ng-click="resetFilters()">Show all</span>
		</label>
		<ul class="items">
			<li ng-repeat="
				item in filtered |
				filter:search |
				startFrom:(currentPage-1)*entryLimit |
				limitTo:entryLimit">
				<h4>{{item.name}}</h4>
				<img ng-src="{{item.thumbnail || 'http://fakeimg.pl/53x79/'}}" />
				<p>Summary: {{item.summary}}</p>
				<a ng-href="{{item.url}}">Go to movie</a>
			</li>
		</ul>
		<pagination></pagination>
    </div>
</div>